# Package manager downloads
node_modules
bower_components

# Build and deploy output directories
dist
.publish
.tmp

# Editor specific files
*.idea
*.sw[po]

# NPM logs
npm-debug.log

# Custom testing browsers
testing-browsers.json
