@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 20;
  background-color: white;
  text-align: center;
}

.headerContent {

  width: 1024px;
  height: auto;
  margin: 0 auto;
  
}
.nav {
  margin-top: 20px;
  height: 40px;
  background: #a7e8ee;

}
.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px;
  color: black;
}

.nav ul li a:hover {
  color: white;
}


#center_marker{
  width:960px /*centering the webpage*/
}
