@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 20;
  text-align: center;
}

header {
  
}

header h1 {
  margin: 0;
}

nav ul {
  margin: 0;:w
}

#center_marker{
  width:960px /*centering the webpage*/
}

