body {
  font-family: 'Helvetica', sans-serif;
  background-color: white;
}

p {
  font-size: 16px;
}

h1 {
  font-weight: 300;
  margin-top: 30px;
}

h3 {
  font-size: 20px;
}

member-card {
  margin: 10px 10px;
}

.headerContent {
  width: 1024px;
  height: auto;
  margin: 0 auto;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 650px;
  position: center;
}
.transparent {
  background-color: transparent;
}

.content {
  margin: 15px calc(15px + 10%);
}

#mainHeaderImage {
  height: 80vh;
}

#scrollDownButton {
  position: relative;
  top: -30px;
  z-index: 3;
  background-color: #444;
}
