@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
  text-align: center;
  background-color: white;
}

p {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}

.headerContent {
  width: 1024px;
  height: auto;
  margin: 0 auto;
}
