body{
  background-image: url(http://www.zingerbugimages.com/backgrounds/wooden_fence_boards.jpg)
}

.content{
  font-size: 16px;
  padding-left: 15px;
  text-align: left;
  padding-right: 15px;
}


.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.white-background{
  border-radius: 4px;
}

.white-background1{
  border-radius: 4px;
}

.paragraph{
  padding-top: 15px;
  font-size: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.Paragraph{
  padding-top: 15px;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.picture{
  padding-right: 15px;
  padding-left: 15px;
}
.home-content{
  margin-left: 390px;
}
