body{
  background-image: url(http://www.zingerbugimages.com/backgrounds/wooden_fence_boards.jpg)
}
.nav-bar{
  background-color: blue;
  height: 65px;
  text-align: center;
}

.nav-bar a {
  text-decoration: none;
  font-size: 200;
}

.nav-bar ul li{
  text-decoration: none;
}
