<h3>
  Projects
</h3>

<p>
  Currently we have two projects, our club website (the one you are on right now), and
  a better version of home access <br>being created by Zander and Sebastian. We hope
  to start more projects next year so feel free to make suggestions.
</p>

<ul>
  <a href="https://github.com/duncangrubbs/Calculator">Java Calculator</a>
  <a href="https://github.com/DHSDevelopersClub/anticipate-api">Anticipate Api</a>
  <a href="https://github.com/DHSDevelopersClub/anticipate-web">Anticipate Web</a>
  <a href="https://github.com/DHSDevelopersClub/learning-to-code">Python Game</a>
  <a href="https://github.com/DHSDevelopersClub/club-website">Club Website</a>
  <a href="https://github.com/DHSDevelopersClub/home-access-client">Home Access Client</a>
</ul>
