html{
    height: 100%;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    background-size: cover;
    margin: 0;
}
main{
    position: relative;
    padding-top: 10px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background: #fff;
    border-radius: 10px;
}
