html{
    height: 100%;
}
body{
    height: 100%;
    background-size: cover;
    padding-top: 50px;
}
main{
    position: relative;
    padding-top: 10px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: #fff;
    border-radius: 10px;
}
.fixed{
    position: fixed;
    background-color: white;
}
